nav ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    justify-content: center;
}
nav li {
    float: left;
}

nav li a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    background:#2b5bad;
    margin:0 auto;
}

li a:hover {
    background-color: #1d4385;
}
div#kodu{
    padding: 2%;
    border: solid 1pt grey;
}
div#kuupaev{
    padding: 2%;
    border: solid 1pt grey;
}
