nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:flex;
    justify-content: center;

}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
div#kodu{
    padding: 2%;
    border: solid 1pt grey;
}
div#kuupaev{
    padding: 2%;
    border: solid 1pt grey;
}
